<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Buzco — Souvenirs for Gr8 Success</title>
  <meta name="description" content="Modern Souvenir Shop. Erradicating the fear of looking stupid with gr8 success.">
  <meta name="robots" content="index, follow">

  <!-- Open Graph / Social Media Sharing -->
  <meta property="og:title" content="Buzco — Souvenirs for Gr8 Success">
  <meta property="og:description" content="Modern Souvenir Shop. Erradicating the fear of looking stupid with gr8 success.">
  <meta property="og:url" content="https://www.gr8success.xyz">
  <meta property="og:type" content="website">

  <link rel="icon" href="/img/favicon.webp">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  
  <div class="gif-background"></div>
  <marquee style="border: 2px outset #ff3c76; height: 30px; color: #ff3c76; font-family: 'arial', arial, serif; font-weight: bold;">
    <div style="padding-top: 5px;">
      ⟺ We are currently fine tuning our garments. Available soon! ⟺ We are currently fine tuning our garments. Available soon!
    </div>
  </marquee>


  <a href="/index/">
    <img src="/img/rotating_logo_buzco.gif" alt="BuzcO" class="brand-logo">
  </a>

  <div class="ellipse-container">
    <a href="/about/" class="nav-icon icon1">
      <img src="/img/Windows98Scaled Icon 72.ico" alt="About">About
    </a>
    <a href="/cabinet_of_curiosities/" class="nav-icon icon2">
      <img src="/img/Windows98Scaled Icon 109.ico" alt="Cabinet of Curiosities">Cabinet of Curiosities
    </a>
    <a href="/team/" class="nav-icon icon3">
      <img src="/img/Windows98Scaled Icon 110.ico" alt="Team">Team
    </a>
    <a href="/archive/" class="nav-icon icon4">
      <img src="/img/Windows98Scaled Icon 32.ico" alt="Archive">Archive
    </a>
    <a href="/tunes/" class="nav-icon icon5">
      <img src="/img/Windows98Scaled Icon 59.ico" alt="Tunes">Tunes
    </a>
    <a href="/contact/" class="nav-icon icon6">
      <img src="/img/Windows98Scaled Icon 05.ico" alt="Contact">Contact
    </a>
  </div>


{% block content %}{{ content | safe }}{% endblock %} <!-- CONTENT AREA!!! VERY IMPORTANT -->

  <footer>
    © 2025 Buzco. All Rights Reserved.
  </footer>

  <script src="scripts.js"></script>
  

</body>
</html>
