<div class="product-template">
  <div class="image-viewer">
    {% if product.data.images and product.data.images[0] %}
      <img src="{{ product.data.images[0].image }}" alt="{{ product.data.title }}" class="product-image" loading="lazy">
    {% endif %}
  </div>

  <div class="image-thumb">
    {% set limitedImages = (product.data.images | default([])) | slice(0, 4) %}
    {% for image in limitedImages %}
      <img src="{{ image.image }}" {% if loop.index0 == 0 %}class="active"{% endif %} loading="lazy">
    {% endfor %}
  </div>

  <h2><a href="{{ product.url }}#souvenir">{{ product.data.title }}</a></h2>
  <p class="description">{{ product.data.description }}</p>
  {{ product.data.shopify_embed | safe }}
</div>
